body {
  background-color: #ffffff;  
}

.title {
  text-align: center;
  margin-top: 100px;
}
.header {
  font-family: 'Libre Barcode 128 Text', cursive;
  height: 250px;
  width: 100%; 
  margin-bottom: 6px; 
  position: fixed;
  top:0;
  left:0;
  font-size: 1.75vw;
  background: #0b281a;
  color: #ffffff;
  z-index:100;
}

.toppic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blogpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
}

.post {
  width: 98%;
  height: 300px;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 15px;
  padding-bottom: 15px;
}

.bottom_container {
  margin-top: 265px;
  padding: 20px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

