body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  width: 100%;  
}

.header {
  width: 100%;
  height: 250px;
  margin-top: 4px;
  margin-bottom: 10px; 
  margin-right: 10px;
  padding: 5px;
  position: fixed;
  top:0;
  font-size: 35px;
  text-align: center;
  background: #2b303a;
  color: #ffffff;
  z-index:100;
}

.post {
  width: 98%;
  height: 300px;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 15px;

}

.typea {
  background: #ff5e6b;
  color: #ffc2b5;
}

.typec {
  background: #ffc2b5;
  color: #ff5e6b;
}

.typed {
  background: #2b303a;
  color: #ffffff;
}

.typeb {
  background: #b1c1c0;
  color: #2b202a;
}

.red_card {
  width: 95%;
  height: 100px;
  background: #ffc2b5;
  padding: 5px;
  color: #ffffff;

}

.bottom_container {
  margin-top: 265px;
  padding: 5px;
}

.singlepg_bottom_mint {
  margin-top: 256px;
  padding: 5px;
  background: #b1c1c0;
  color: #2b202a;
  align: center;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


.page_link {
  text-decoration: none;
}
