body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;  
}

.header {
  width: 100%;
  height: 250px;
  margin-top: 4px;
  margin-bottom: 10px; 
  margin-right: 10px;
  padding: 5px;
  position: fixed;
  top:0;
  font-size: 35px;
  text-align: center;
  background: #2b303a;
  color: #ffffff;
  z-index:100;
}

.red_post {
  width: 100%;
  height: 300px;
  background: #ff5e6b;
  color: #ffc2b5;
  overflow:hidden;
  padding: 5px;
  margin-bottom: 5px;
}

.pink_post {
  width: 100%;
  height: 300px;
  background: #ffc2b5;
  color: #ff5e6b;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 5px;
}

.navy_post {
  width: 100%;
  height: 300px;
  background: #2b303a;
  color: #ffffff;
  overflow:hidden;
  padding: 5px;
  margin-bottom: 5px;
}

.mint_post {
  width:100%;
  height: 300px;
  background: #b1c1c0;
  color: #2b202a;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 5px;
}

.red_card {
  width: 95%;
  height: 100px;
  background: #ffc2b5;
  padding: 5px;
  color: #ffffff;

}

.bottom_container {
  margin-top: 265px;
  padding: 5px;
}

.singlepg_bottom_mint {
  margin-top: 256px;
  padding: 5px;
  background: #b1c1c0;
  color: #2b202a;
  align: center;
}

.page_link {
  text-decoration: none;
}
